body 
{
    /*background-color:white;*/
     background: url(../Images/фон4.gif) no-repeat right top;

    margin:0px;
  zoom: 65%; /*масштаб сторінки*/
}




#main
{
  
    position:initial;
    margin:auto;
    align-content:center;
    text-align:center;
    display:inline-block;
    width:70%;
    margin-top:8%;
    margin-left:15%;
}

#menu
{
    background-color:#d1e0e0;
    display:inline-block;
    width:10%;
    margin-top:4%;
    border-left:solid;
    border-color:#a5c0c0;
}


.topb{ /* кнопка вверх*/
    width:2.8%;
    position:fixed;
    cursor:pointer;
    bottom:10px;
    left:10px;
    right:850px;
    font-size:52px;
   height:15%;
  align-items:center;
  
}

.img
{
    width:100%;
    margin:auto;
}


.topic
{
    background-color:ghostwhite;
   border:solid;
    text-align:left;
    border-color:darkgrey;
    border-width:10px; /*ширина рамки*/
    padding:30px; /*відступи всередині новин*/
    margin:15px; /*відступи в контейнері зліва і справа*/
    margin-bottom:10px;
    display:inline-block;
    width:25%;
    height:5%;
}

/*.title /*заголовок новини
{
    font-size:150%;
    font-family:'Comic Sans MS';

}*/

.title /*заголовок новини*/
{
    font-size:189%;
   font-family:'Bell MT';
    font-weight:bold;
     text-align:left;
    border-color:black;
    border-width:10px; /*ширина рамки*/
    padding:0px; /*відступи всередині новин*/
    margin:2px; /*відступи в контейнері зліва і справа*/
    margin-bottom:15px;
    
    width:95%;
    

}

.sectionTitle
{
    text-align:left;
    font-size:200%;
    border-bottom:solid;
    border-top:solid;
    padding:1px;
    padding-left:3%;
    background-color:#d1e0e0;
    border-color:#a5c0c0;
    font-family:'Bree';
 font-weight: bolder;
}

.publisedDate
{
    color:darkgray;
    font-size:small;
    display:block;
}

.description
{
    font-size:150%;
    text-align:center;
    
}

.section
{
    background-color:#d5eaea;
    padding-bottom:7px;
    display:inline-block;
    width:100%;
    
}


hr
{
    color:darkgray;
}

A:link 
{ 
    text-decoration: none;
    color:black;
} 
A:visited 
{
    text-decoration: none;
    color:black;
} 
A:active 
{
    text-decoration: none; 
}
A:hover 
{
    text-decoration:solid;

  /**   background: linear-gradient(to top, rgba(169, 169, 169, 0.47), #ffffff);*/
  background:#dee8e8;
    font-variant:initial;
} 